
footer{

    margin-top: 30px;
    background-color: var(--background-color);
    border-top: 1px solid var(--line-color);
        width: 100%;
        padding: 0px 20px 8px 20px;
    }
    
    

    footer div{
        display: flex;
        justify-content: center;
    align-items: center;
    }
    
    footer div img {
        height: 16px;
        width: 16px;
        flex: 0 0 auto;
        margin-right: 8px;
    }
    

    .copyright{
        font-size: 16px;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-weight: 400;
    }
 
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-links a {  
    margin: 16px; 
    height: 30px;
    width: 30px;

}


    