header{
    padding: 8px;
    background-color: var(--backgound-color);
    align-items: center;
    display: flex;
    height: 80px;
}
    

.logo{
    margin: 0;
    padding-right: 8px;
}
.logo img{
    height: 40px;
    width: 40px;
}
.name{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;

}
